:markdown
  # HTML Elements

  Below is just about everything you’ll need to style in the theme. Check the
  source code to see the many embedded elements within paragraphs. [^1]

  ---

  # Heading 1

  ## Heading 2

  ### Heading 3

  #### Heading 4

  ##### Heading 5

  ###### Heading 6

  ---

  Lorem ipsum dolor sit amet, [test link](#) adipiscing elit. **This is strong.**
  Nullam dignissim convallis est. Quisque aliquam. *This is emphasized.*  Donec
  faucibus. Nunc iaculis suscipit dui. 5<sup>3</sup> = 125. Water is H<sub>2</sub>O.
  Nam sit amet sem. Aliquam libero nisi, imperdiet at, tincidunt nec, gravida
  vehicula, nisl. <cite>The New York Times</cite> (That’s a citation).
  <span style="text-decoration: underline;">Underline.</span> Maecenas ornare
  tortor. Donec sed tellus eget sapien fringilla nonummy. Mauris a ante.
  Suspendisse quam sem, consequat at, commodo vitae, feugiat in, nunc. Morbi
  imperdiet augue quis tellus.

  HTML and CSS are our tools. Mauris a ante. Suspendisse quam sem, consequat at,
  commodo vitae, feugiat in, nunc. Morbi imperdiet augue quis tellus. Praesent
  mattis, massa quis luctus fermentum, turpis mi volutpat justo, eu volutpat
  enim diam eget metus. To copy a file type `COPY <var>filename</var>`.
  <del>Dinner’s at 5:00.</del> <ins>Let’s make that 7.</ins> This
  <span style="text-decoration: line-through;">text</span> has been struck.

  *[HTML]: Hyper Text Markup Language
  *[CSS]: Cascading Style Sheets

  ---

  ## List Types

  ### Definition List

  Definition List Title
  :   This is a definition list division.

  Definition
  :   An exact statement or description of the nature, scope, or meaning of
  something: *our definition of what constitutes poetry.*

  ### Ordered List

  1.  List Item 1
  2.  List Item 2
    1.  Nested list item A
    2.  Nested list item B
  3.  List Item 3

  ### Unordered List

  *   List Item 1
  *   List Item 2
    *   Nested list item A
    *   Nested list item B
  *   List Item 3

  ---

  ## Table

  <table>
    <tr>
    <th>
      Table Header 1
    </th>

    <th>
      Table Header 2
    </th>

    <th>
      Table Header 3
    </th>
    </tr>

    <tr>
    <td>
      Division 1
    </td>

    <td>
      Division 2
    </td>

    <td>
      Division 3
    </td>
    </tr>

    <tr class="even">
    <td>
      Division 1
    </td>

    <td>
      Division 2
    </td>

    <td>
      Division 3
    </td>
    </tr>

    <tr>
    <td>
      Division 1
    </td>

    <td>
      Division 2
    </td>

    <td>
      Division 3
    </td>
    </tr>
  </table>

  ---

  ## Preformatted Text

  Typographically, preformatted text is not the same thing as code. Sometimes,
  a faithful execution of the text requires preformatted text that may not have
  anything to do with code. Most browsers use Courier and that’s a good default
  — with one slight adjustment, Courier 10 Pitch over regular Courier for Linux
  users. For example:

  <pre>“Beware the Jabberwock, my son!
    The jaws that bite, the claws that catch!
  Beware the Jubjub bird, and shun
    The frumious Bandersnatch!”</pre>

  ### Code

  Code can be presented inline, like `<?php bloginfo('stylesheet_url'); ?>`, or
  within a `<pre><code>` block. Because we have more specific typographic needs
  for code, we’ll specify Consolas and Monaco ahead of the browser-defined
  monospace font.

      #container {
          float: left;
          margin: 0 -240px 0 0;
          width: 100%;
      }

  ---

  ## Blockquotes

  Let’s keep it simple. Italics are good to help set it off from the body text
  (and italic Georgia is lovely at this size). Be sure to style the citation.

  > Good afternoon, gentlemen. I am a HAL 9000 computer. I became operational at
  > the H.A.L. plant in Urbana, Illinois on the 12th of January 1992. My
  > instructor was Mr. Langley, and he taught me to sing a song. If you’d like
  > to hear it I can sing it for you.
  >
  > <cite>— <a href="http://en.wikipedia.org/wiki/HAL_9000">HAL 9000</a></cite>

  And here’s a bit of trailing text.

  ---

  If everything you have see above does match with your style needs, you may
  head back to the [root of all evil](/).

  [^1]: This test page has been created for the WordPress [Twenty Ten](http://2010dev.wordpress.com/)
  development site, and has been converted for this *Bootstrap* site.

