:markdown
  # Image alignment and styles

  This page is filled with sample content illustrating what various image types
  look like in your style. Text is lorem ipsum filler; look at the
  [Readability Test](readability) page for sample content that you can actually
  read. [^1]

  ---

  ## Right-aligned medium

  [][2]<a href="http://2010dev.wordpress.com/image-alignment-and-styles/mcm_6965/" rel="attachment wp-att-7"><img width="300" height="199" alt="" src="http://2010dev.files.wordpress.com/2010/01/mcm_6965.jpg?w=300&h=199" title="Sunset" class="alignright size-medium wp-image-7" /></a>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vel ultricies sapien. Proin eu accumsan metus. Pellentesque varius aliquet sapien, sed laoreet diam viverra vel. Phasellus condimentum congue ante. Donec porttitor eleifend erat eget faucibus. Vivamus mattis imperdiet sem a volutpat. Cras ultrices tincidunt hendrerit. Nulla facilisi. Morbi id lorem et sapien luctus eleifend. Vestibulum eleifend dapibus ornare. Ut at dui metus, in accumsan nibh. Nam ultricies turpis sit amet erat elementum nec mollis tellus vehicula. Phasellus mollis faucibus odio, id malesuada justo venenatis in. Sed ultricies, augue quis ullamcorper condimentum, diam turpis laoreet risus, quis pretium urna diam et nibh. Nunc molestie mauris vel est hendrerit tempus. Nam elit enim, pellentesque sit amet fringilla quis, bibendum at tellus. Nunc at tortor sapien. Nam feugiat libero ut nisl sodales eleifend. Nulla laoreet metus in dolor mattis vitae interdum massa.

  [2]: http://2010dev.files.wordpress.com/2010/01/mcm_6965.jpg

  ---

  ## Left-aligned Medium

  [][3]<a href="http://2010dev.wordpress.com/image-alignment-and-styles/mcm_2432/" rel="attachment wp-att-17"><img width="225" height="300" alt="" src="http://2010dev.files.wordpress.com/2010/01/mcm_2432-e1264268646918.jpg?w=225&h=300" title="Shoe" class="alignleft size-medium wp-image-17" /></a>Duis nec elit dui, sit amet feugiat urna. Aenean interdum laoreet pellentesque. Nullam neque magna, euismod nec varius et, aliquet a neque. Ut ac vestibulum odio. Aenean non lobortis nulla. Nulla facilisi. In cursus, sem eu ultricies elementum, nulla lacus pretium diam, ac congue mauris velit ut velit. Fusce ante odio, adipiscing eu interdum sit amet, laoreet id lacus. Nam ante nulla, gravida a placerat eu, fermentum vel sem. Praesent eros augue, congue et congue a, varius sit amet ipsum.

  [3]: http://2010dev.files.wordpress.com/2010/01/mcm_2432.jpg

  Vivamus iaculis mollis fringilla. Sed convallis consectetur tincidunt. Aenean a nunc odio, a commodo elit. In quis risus id dolor porta iaculis. Sed vel felis eu neque molestie eleifend vitae et sem. Aliquam magna est, sodales et rutrum ac, ullamcorper at ipsum. Sed volutpat accumsan tortor vulputate pulvinar. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Curabitur sit amet elit a augue bibendum tempus. Praesent auctor mauris vel purus mattis vel imperdiet arcu pulvinar. Nunc est nisi, viverra in tincidunt vitae, sodales vitae mi. Quisque nisl elit, luctus viverra venenatis eget, auctor pharetra turpis. Nam vel justo arcu, sollicitudin blandit quam.

  ---

  ## Full-Width

  Aenean eu urna felis. Vivamus placerat neque ac diam imperdiet eget sollicitudin nisl ornare. Ut adipiscing neque non sapien malesuada ullamcorper. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Fusce non tincidunt dui.

  [][4][][4]<a href="http://2010dev.wordpress.com/image-alignment-and-styles/mcm_3162/" rel="attachment wp-att-19"><img width="640" height="425" alt="" src="http://2010dev.files.wordpress.com/2010/01/mcm_3162.jpg?w=640&h=425" title="Kitten" class="aligncenter size-full wp-image-19" /></a>

  [4]: http://2010dev.files.wordpress.com/2010/01/mcm_3162.jpg

  Suspendisse convallis pretium varius. Duis vitae sem ut quam dignissim pellentesque at id dolor. Etiam mi est, scelerisque sed viverra et, sollicitudin eget orci. Donec felis erat, ultrices sit amet molestie quis, ultrices nec libero. Donec eu odio neque, luctus laoreet urna. Integer eget augue ante, a facilisis dolor. Morbi non dui at lectus dignissim pulvinar. Nullam condimentum egestas feugiat. Aliquam elementum pharetra nibh id suscipit. Nam viverra tristique turpis.

  ---

  ## Images with captions

  <div style="width: 310px;" class="wp-caption alignright" id="attachment_13">
    <a href="http://2010dev.wordpress.com/image-alignment-and-styles/img_0429/"><img width="300" height="200" alt="" src="http://2010dev.files.wordpress.com/2010/01/img_0429.jpg?w=300&h=200" title="IMG_0429" class="size-medium wp-image-13 " /></a><p class="wp-caption-text">
    Jellyfish
    </p>
  </div>

  Fusce molestie erat vel augue lobortis sit amet ultrices eros interdum. Suspendisse lobortis gravida sapien, in mattis velit rutrum a. Vivamus condimentum neque scelerisque arcu cursus id viverra tellus adipiscing. In leo justo, gravida in suscipit lacinia, euismod non ligula. Nullam non cursus nisi. Pellentesque eu lectus lectus, sit amet imperdiet mauris. Phasellus leo metus, vulputate at tincidunt id, dictum sit amet purus. Praesent at nisi tortor, et consequat elit. Phasellus gravida velit tempus eros aliquam porttitor. Vivamus tempor ultrices ligula eu molestie. Donec eu enim nibh, nec pellentesque elit. Nam a ultricies felis. Duis cursus, massa ut mollis faucibus, enim ligula pulvinar felis, vitae bibendum diam sem non erat. In fringilla nisi vitae tortor varius at sagittis enim condimentum. Aliquam id leo at mi varius dictum et nec quam. Pellentesque tortor nunc, dignissim at scelerisque a, adipiscing non neque. Aliquam erat volutpat.

  ## Thumbnails

  [][5][][5][<img width="150" height="99" alt="" src="http://2010dev.files.wordpress.com/2010/01/mcm_2160.jpg?w=150&h=99" title="Pavement" class="alignright size-thumbnail wp-image-16" />][5]Aenean interdum laoreet eros, ut sollicitudin velit tempor et. Aliquam sit amet euismod ante. Quisque orci orci, scelerisque et iaculis nec, interdum at erat. Cras eget risus nec orci mollis pellentesque. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec non risus nisl, eu feugiat nulla. Etiam congue ornare dui rhoncus tincidunt.

  [5]: http://2010dev.files.wordpress.com/2010/01/mcm_2160.jpg

  [][6][][7]<a href="http://2010dev.wordpress.com/image-alignment-and-styles/mcm_7007/" rel="attachment wp-att-20"><img width="150" height="99" alt="" src="http://2010dev.files.wordpress.com/2010/01/mcm_7007.jpg?w=150&h=99" title="Blue Sky" class="alignleft size-thumbnail wp-image-20" /></a>Donec tristique orci sed mi ullamcorper elementum. Sed elit magna, blandit et porttitor nec, sollicitudin dictum diam. Nullam sed mattis mi. Proin sagittis purus at sapien facilisis pretium. Curabitur ac ullamcorper mi. Phasellus tristique, justo non tincidunt commodo, libero sapien gravida urna, eget commodo purus mi eu nisi. Nam risus sem, euismod at pretium vel, tincidunt eu eros. Maecenas fringilla, tortor sed feugiat rhoncus, purus arcu vestibulum odio, quis commodo justo purus non ligula.

  [6]: http://2010dev.files.wordpress.com/2010/01/img_0429.jpg
  [7]: http://2010dev.files.wordpress.com/2010/01/mcm_7007.jpg

  ---

  If everything you have see above does match with your style needs, you may
  head back to the [root of all evil](/).

  [^1]: This test page has been created for the WordPress [Twenty Ten](http://2010dev.wordpress.com/)
  development site, and has been converted for this *Bootstrap* site.

