:markdown
  # StaticMatic

  This *Bootstrap* combines the powers of [HAML](http://haml-lang.com),
  [SASS](http://sass-lang.com), [Compass](http://compass-style.org) with
  *StaticMatic* into a local prototyping environment.

  ## Rationale

  When I discovered *Compass* and *HAML*/*SASS* it all seemed to be a strange
  approach to developing web application prototypes.  I - much like any other
  developer - already had lots of frameworks for actual development (e.g. Ruby
  on Rails, or CakePHP), so why add more?

  A few months later the answer is clear. In the long run, having everything
  separated into clean, small, manageable chunks will save time for both you
  and your clients.

  ## Examples

  Styling sites and the default elements can be tedious, considering that you
  may find yourself doing it again and again.  Thus this StaticMatic Bootstrap
  includes both default styles for common content plus a few example files to
  actually see these styles in action.

  [HTML Elements](elements) is about every kind of content you might need to
  style.  Start by customizing these styles first to create a general look and
  feel.

  Having [image alignment and styles](images) done well is a task to be done
  well.  In the end, eye candy still counts even though people tend to claim
  content was and is king.

  [Readability](readability) has to be evaluated constantly, whenever you apply
  updates and changes to your design.  If your sites' content can not be read
  or seen, why should anyone use it?

  ## Feedback

  This little project is intended to help designers and developers to enjoy the
  beauty of content, code, and design separation.  If something in here does not
  help, or can be improved you can file [issues](http://github.com/marenkay/staticmatic-bootstrap/issues)
  or contact [Daniel S. Reichenbach](mailto:daniel.s.reichenbach@mac.com?subject=StaticMatic).

