// layout/_page.scss - Left to right, top to bottom, whatever you like.
//

/* @group screen/_layout/_page ---------------------------------------------- */

#application {
  @include container;
  border-width: 1px;
  margin: 2em auto 0;
  padding: 1em 1em;

  @include show-grid("grid.png");

  * {
    background-color: rgba(0, 0, 0, 0.125);
    }
  }

nav {
  @include columns(3);
  @include alpha;
  text-align: right;

  ul {
    @include no-style-list;
    }
  }

section {
  @include columns(9);
  @include omega;

  article {
    @include columns(6, 9);
    }

  aside {
    @include columns(3, 9);
    @include omega(9);
    }
  }

/* @end screen/_layout/_page ------------------------------------------------ */

