// _colors.scss - Colors is what makes it or breaks it - most times that is.
//

$font-color:             #2e3436                         !default;
$quiet-color:            lighten ($font-color, 10%)      !default;
$loud-color:             darken  ($font-color, 10%)      !default;
$header-color:           darken  ($font-color, 10%)      !default;
$alt-text-color:         #555753                         !default;

$link-color:             #3465a4                         !default;
$link-hover-color:       lighten ($link-color, 10%)      !default;
$link-focus-color:       #73d216                         !default;
$link-active-color:      darken  ($link-color, 10%)      !default;
$link-visited-color:     #75507b                         !default;

$feedback-border-color:  #d3d7cf                         !default;
$success-color:          #73d216                         !default;
$success-bg-color:       lighten ($success-color, 10%)   !default;
$success-border-color:   darken  ($success-color, 10%)   !default;
$notice-color:           #edd400                         !default;
$notice-bg-color:        lighten ($notice-color, 10%)    !default;
$notice-border-color:    darken  ($notice-color, 10%)    !default;
$error-color:            #cc0000                         !default;
$error-bg-color:         lighten ($error-color, 10%)     !default;
$error-border-color:     darken  ($error-color, 10%)     !default;

$highlight-color:        lighten (#edd400, 10%)          !default;
$added-color:            #73d216                         !default;
$added-bg-color:         lighten ($added-color, 10%)     !default;
$removed-color:          #cc0000                         !default;
$removed-bg-color:       lighten ($removed-color, 10%)   !default;

$table-header-color:     #c3d9ff                         !default;
$table-stripe-color:     #e5ecf9                         !default;

