!!! 5
%html{:lang => "en"}
  %head
    %meta{'charset' => 'utf-8'}/
    %title StaticMatic
    %meta{:name => "description", :content => 'Test Drive your HAML/SASS based design prototype with ease.'}

    %link{:rel => "shortcut icon",  :href => "favicon.ico"}

    %link{:rel => "stylesheet",     :href => "stylesheets/screen.css",  :media => "screen"}
    %link{:rel => "stylesheet",     :href => "stylesheets/print.css",   :media => "print"}
    /[if lt IE 9]
      %link{:rel =>"stylesheet",    :href => "stylesheets/ie.css",      :media => "screen"}

    %script{:type => "text/javascript",     :src => "javascripts/prototype.js"}
    /[if lt IE 9]
      %script{:type => "text/javascript",   :src => "javascripts/html5.js"}

  %body
    = yield

